{% load static %}

<!-- start navbar section -->
<nav id="home">
  <input type="checkbox" id="check" />
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <img src="{% static '../static/assets-story-4/icon/icon.png' %}" alt="" />
  <ul>
    <input type="checkbox" id="check" />
    <label for="check" class="closebtn">
      <i class="fa fa-window-close"></i>
    </label>
    <li>
      <a href="#index">Home</a>
    </li>
    <li><a href="#aboutme">About</a></li>
    <li><a href="#education">Education</a></li>
    <li><a href="#skill">Skills</a></li>
    <li><a href="#experience">Experience</a></li>
    <li><a href="#summary">Summary</a></li>
    <li><a href="storylima/">Schedule</a></li>
    <li><a href="storyenam/">Activity</a></li>
    <li><a href="storydelapan/">Library</a></li>
    <li><a href="storytujuh/">More</a></li>
  </ul>
</nav>